<body>

text-align: center;

section{
    width:100%;
    height:100vh;
    background-image: url('../images/Cats-and-Dogs.jpg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.title{
    font-family: 'Lato', sans-serif;
}

.subtitle{
    font-size: 3rem;

}

.title{
    font-family:Gloria Hahllelujah;
    font-size: 1.5rem;
    
}
